# =========================
# DATA (mantener carpeta, ignorar contenido)
# =========================
data/*
data/backups/*
data/JSON/*
!data/.gitkeep

# =========================
# LOGS
# =========================
logs/*.log
!logs/logEvent.py

# =========================
# PYTHON CACHE
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# ENTORNOS
# =========================
.env*
!.env.example
venv/

# =========================
# APIs KEYs
# ========================= 
API/*.key
!API/.gitkeep

# =========================
# TEMPORALES
# =========================
*.tmp
*.bak
*.swp
*.log

# =========================
# EDITORES
# =========================
.vscode/
.idea/

# =========================
# SISTEMA
# =========================
.DS_Store
Thumbs.db

# =========================
# Claude
# =========================
.claude/

