# =========================
# DATA (mantener carpeta, ignorar contenido)
# =========================
data/*
data/activos/*
data/gastos/*
!data/.gitkeep

# =========================
# LOGS
# =========================
log/*.log
!log/logEvent.py
!log/__init__.py
!log/.gitkeep

# =========================
# PYTHON CACHE
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# ENTORNOS
# =========================
.env*
!.env.example
venv/

# =========================
# APIs KEYs
# ========================= 
API/*.key
!API/.gitkeep

# =========================
# TEMPORALES
# =========================
*.tmp
*.bak
*.swp
*.log

# =========================
# EDITORES
# =========================
.vscode/
.idea/

# =========================
# SISTEMA
# =========================
.DS_Store
Thumbs.db
